<footer>
    <p class="text-muted text-center">
        Copyright © 2019 <a href="/" target="_blank">
            <strong>Mining-Operator.org.uk</strong>
        </a>. All Rights Reserved.
    </p>
    
</footer>
